AccessModifierOffset: 0
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false
ColumnLimit: 140
DerivePointerAlignment: false
PointerAlignment: Left
IndentAccessModifiers: true
IndentWidth: 4
PPIndentWidth: 4
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
IndentCaseBlocks: true
IndentCaseLabels: true
SeparateDefinitionBlocks: Always